body {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: grid;
    justify-content: center;
    align-items: center;

}

main {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #F5F5F5;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.color_choice_area {
    flex: 1;
    display: flex;
    border-radius: 20px;
    align-items: flex-end;
    padding-bottom: 10px;
}

.color_choice {
    flex: 3;
    margin: 5px;
    border-radius: 30px;
}

.red_color {
    background-color: rgb(239, 68, 56);
}

.orange_color {
    background-color: rgb(248, 152, 29);
}

.yellow_color {
    background-color: rgb(254, 234, 58);
}

.green_color {
    background-color: rgb(77, 175, 78);
}

.blue_color {
    background-color: rgb(71, 143, 204);
}

.violet_color {
    background-color: rgb(144, 62, 151);
}

.message_area {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_message {
    font-size: 21pt;
    margin-bottom: 0;
    text-align: center;
}

.btn_back {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.btn_back>img {
    max-height: 20px;
}

.btn_back>p {
    margin-left: 5px;
    text-transform: uppercase;
}

.guess_area {
    flex: 9;
    display: flex;
    flex-direction: column;
}

.guess {
    flex: 1;
    margin: 2.5px 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.guess_0 {
    opacity: 1;
}

.hint_box {
    height: 100%;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    display: none;
    justify-content: center;
    align-items: center;


}

.hint_box_0 {
    opacity: 1;
}

.txt_hint {
    color: white;
    text-transform: uppercase;
    font-size: 10pt;
    text-align: center;
}

.guess_box {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
}

.guess_box>div {
    height: 35px;
    width: 35px;
    background-color: #e6e6e6;
    border-radius: 100%;
    border: solid 1px rgb(230, 230, 230);
}


.result {
    display: none;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.dimmer {
    background-color: rgba(0, 0, 0, .5);
    grid-column: 1/6;
    grid-row: 1/7;
    opacity: 0;
    transition-duration: 1s;
}

.rippon {
    grid-column: 2/5;
    grid-row: 2/4;
    z-index: 3;
    transform: scale(5);
    transition-duration: 2s;
}

.result_display {
    grid-column: 2/5;
    grid-row: 3/5;
    background-color: white;
    transform: scale(0);
    transition-duration: 1s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_display p {
    font-size: 20pt;
    font-weight: 400;
    color: #28AD7E;
    padding-top: 125px;
}

.exit {
    text-decoration: none;
    color: white;
    grid-row: 6/7;
    grid-column: 3/4;
    justify-self: center;
    align-self: start;
    text-align: center;
    border: solid 2px white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-top: -25px;
    animation: fadeIn 1s;
    animation-delay: 2s;
}

@keyframes appear {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 426px) {
    .container {
        background-color: white;

    }

    main {
        width: 360px;
        height: 740px;
        max-width: 360px;
        max-height: 740px;
    }

    .result {
        width: 360px;
        height: 740px;
        max-width: 360px;
        max-height: 740px;
    }
}