body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.general {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition-duration: 1s;
}

.theme_container {
    width: 100%;
    flex: 5;
    display: flex;
    flex-direction: column;


}

.current_theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.current_theme>p {
    text-align: center;
    font-size: 18pt;
    color: black;
}

.current {
    font-size: 22pt;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.themes {
    height: 20vh;
    width: 100%;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);

}

.default_theme {
    background-image: url("../img/light.svg");
}

.dark_theme {
    background-image: url("../img/dark.svg");
}

.themes>p {
    text-align: center;
    font-size: 20pt;
}

a {
    text-decoration: none;
    color: white;
    background-color: #28AD7E;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 50px;
}

.detail {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0%;
    flex-direction: column;
    justify-content: space-between;
}

.img_container {
    width: 100%;
    height: 70vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

.img_container>img {
    width: 250px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

.desc {
    color: gray;
    font-size: 9pt;
}

button {
    text-decoration: none;
    color: white;
    background-color: #28AD7E;
    height: 50px !important;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 50px;
    border: none;
    font-size: 12pt;
    font-family: "Roboto";
}

@media only screen and (min-width: 426px) {
    .container {
        background-color: white;

    }

    main {
        width: 360px;
        height: 740px;
        max-width: 360px;
        max-height: 780px;
    }
}